﻿@model IEnumerable<CheffFoodBlog.Models.Recipe>

<div id="multicolumns" class="mul-col-blue container text-center">

    <section id="videoContainer">
        <!-- Introduction -->
        <video width="400" controls>
            <source src="~/Media/videos/10SecretFactsAboutDISNEYPrincesses.mp4" type="video/mp4">
        </video>
    </section>
    <canvas id="myCanvas" width="300" height="100"></canvas>
</div>

<script>
    const size = 500;
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.strokeText("Recipes", 20, 40);
</script>


<div class="container">
    @{
        Dictionary<string, int> counterDictionary = (Dictionary<string, int>)Session["counterDictionary"];
        if (counterDictionary != null)
        {
            string favCheffName = counterDictionary.FirstOrDefault(x => x.Value == counterDictionary.Values.Max()).Key;
            <div class="alert alert-success">Like @Html.Raw(favCheffName)? @Html.ActionLink("click", "Filter", new { CheffName = favCheffName }) for more</div>
        }
    }

    @using (Html.BeginForm("Filter", "Posts", FormMethod.Post, new { @class = "form-inline" }))
    {
        <h3>Filter posts by</h3>
        /* TODO
        <div class="form-group">
            @Html.DropDownList("princessRoyaltyType", EnumHelper.GetSelectList(typeof(DisneyPrincessesBlog.Models.KingdomType)), "RoyaltyType", new { @class = "form-control" })
        </div>
        */
    
        <div class="form-group">
            @Html.TextBox("CheffName", "", new { @class = "form-control", placeholder = "Cheff Name" })
        </div>

        <input class="btn btn-search-posts" type="submit" value="Search" />
    }



    <hr />
    <div class="container row">
        <div class="list-inline buttons">
            @using (Html.BeginForm("GroupByCheff", "Recipes"))
            {
                <input class="btn btn-lg btn-stats" type="submit" value="Posts Stats" />
                <p class="btn btn-lg btn-add-blog" href="#" role="button">@Html.ActionLink("Add Recipe", "Create", null, new { @style = "color: #FF8A80;" })</p>
            }

        </div>
    </div>


</div>


<hr />


@foreach (var item in Model)
{
    <div class="blog-post">
        <p class="blog-post-title">@Html.ActionLink(item.Name, "Details", new { id = item.RecipeID }, new { @style = "text-decoration:none; color: black;" }) </p>

        <div class="blog-post-meta">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateCreation))</div>
        <p>@Html.DisplayFor(modelItem => item.CreationProcess)</p>

        <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Cheff.FirstName + " " + item.Cheff.LastName) </footer>
        @{ if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
                </div>
            }
        }
    </div>
}
