﻿@model DisneyPrincessesBlog.Models.Post
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        var token = $('[name=__RequestVerificationToken]').val();
		var bodyData = {
			cheffId: "@Model.Cheff.ID",
            currentRecipeId: "@Model.RecipeID"
        };
        bodyData['__RequestVerificationToken'] = token;
        $.ajax({
            url: "/Recipes/WantMore",
            type: "Recipe",
            data: bodyData,
            success: function (response) {
                var el = document.getElementById("moreRecipes");

                if (!response.error) {
                    el.href = response.url;
                }
                else {
                    el.parentElement.removeChild(el);
                }
            },
            error: function (res) {
                console.log('err', res)
            }
        });

    });
</script>

@{
    ViewBag.Title = "Details";
}

<div class="blog-post">
    <p class="blog-post-title">@Html.DisplayFor(model => model.Name) </p>

    <div class="blog-post-meta">@Html.DisplayFor(model => model.DateCreation)</div>
    <p>@Html.DisplayFor(model => model.CreationProcess)</p>

    <a id="morePosts">Want more posts of @Html.DisplayFor(model => model.Cheff.FirstName)? click here</a>
    <footer class="blockquote-footer">@Html.DisplayFor(model => model.Cheff.FirstName), <cite>@Html.DisplayFor(model => model.Cheff.FirstName)</cite></footer>
</div>

<div class="container">
    <h3>Comments:</h3>
    <br />
    <ul class="comments-list col-md-8" id="comment-list">@Html.DisplayFor(model => model.Comments)</ul>
</div>
<div class="add-comment">
    @Html.Action("Add", "Comments", new { RecipeID = Model.RecipeID });


</div>
<hr>
<div class="container">    
    @Html.ActionLink("Back to List", "Index")
</div>
